.container{
    font-family: 'Merriweather', serif;
}

.weather-app{
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px;
}

.today-temp{
    padding-top: 15px;
}

h2{
    font-size: 40px;
}

.degrees{
    font-size: 15px;
}

.header-info li{
    list-style-type: none;
}

.search-btn{
    background-color: #add8e6;
}

.forecast{
    margin:10px;
    padding-top: 10px;
}

.icon{
    font-size: 20px;
    text-align:center;
}